{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheet %}

{% endblock stylesheet %}

{% block main %}

<div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-7">
        <div class="text-center">
          <h1 class="h2">Reset Password</h1>
          {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              <span class="alert-inner--text" style="padding-right: 25px;">{{ message }}</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
          <form role="form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>

            <button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
              Reset Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock main %}


{% block scripts %}
<script>
window.addEventListener('load', (event) => {
  document.getElementById('id_new_password1').setAttribute("placeholder", "New Password") 
  document.getElementById('div_id_new_password1').firstElementChild.remove()

  document.getElementById('id_new_password2').setAttribute("placeholder", "Password Confirmation") 
  document.getElementById('div_id_new_password2').firstElementChild.remove()
});
</script>
{% endblock scripts %}